:root {
  --primary-color: #31aad2;
  --secondary-color: #0079a1;
  --tertiary-color: #9ad6f7;
  --background-color: #f4f4f4;
  --second-background-color: #ffffff;
  --text-color: #000000;
  --border-color: #cfcfcf;
  --active-color: #e3f2fd;
}
