/* Dark Mode Variables */
.dark-mode {
  --primary-color: #ffffff;
  --secondary-color: #c7286b;
  --tertiary-color: #0079a1;
  --header-bg-color: #292a2f;
  --background-color: #6f7175;
  --second-background-color: #9b9b9b;
  --text-color: #ffffff;
  --border-color: #626567;
  --active-color: #fee2ee;
}
