/* Dark Mode Variables */
.dark-mode {
  --primary-color: #18363e;
  --secondary-color: #31aad2;
  --tertiary-color: #0079a1;
  --header-bg-color: #292a2f;
  --background-color: #46484f;
  --text-color: #ffffff;
  --border-color: #626567;
}
