* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* this is a text that must be stay here later */

/* ---HEADER--- */

header {
  background-color: white;
  padding: 1rem;
  height: 13rem;
  border-bottom: solid 0.06rem var(--secondary-colour);
}

.header__date {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.header__date--today-month {
  font-size: 6rem;
  color: var(--secondary-colour);
}

.header__date--today-day {
  font-size: 2rem;
  color: var(--primary-colour);
}

.header__date--year-and-btn--year {
  font-size: 8rem;
  color: var(--primary-colour);
}

.header__date--year-and-btn {
  text-align: right;
}

.header__more-months {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}

/* ---MAIN--- */

main {
  background-color: var(--background-colour);
  height: calc(100vh - 15.1rem);
  padding: 0 1rem 0 1rem;
}

main p {
  font-weight: 200;
}

/* Non-dynamic */
.main__container-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
}
.main__container-week--day-name {
  text-align: center;
  padding: 0.2rem;
  height: 1rem;
  color: black;
  padding: 0.5rem;
}

/* Dynamic */

.main__container-days {
  height: calc(100vh - 17.5rem);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.3rem;
  justify-content: space-between;
}

.main__container-days--dynamic-day {
  border: 0.06rem solid var(--border-colour);
  padding: 0.2rem;
  border-radius: 5px;
  text-align: right;
  background-color: white;
  font-weight: 200;
}

.main__container-days--dynamic-day:hover {
  transition: background-color 0.6s ease;
  background-color: #31aad299;
  color: white;
}

.active {
  border: 0.06rem solid var(--primary-colour);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  color: var(--primary-colour);
  /* background-color: #f5f3f4; */
  background-color: #e3f2fd;
  font-weight: 600;
}

.main__container-days--dynamic-day--event {
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
}

.add-btn {
  color: red;
  display: flex;
  border: 1px solid blackt;
}
