* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--text-color);
}

/* this is a text that must be stay here later */

/* ---HEADER--- */

header {
  background-color: var(--second-background-color);
  padding: 0 1rem 1rem 1rem;
  height: 13rem;
  border-bottom: solid 0.06rem var(--secondary-color);
}

.header__date {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.header__date--today-month {
  font-size: 5rem;
  color: var(--secondary-color);
  margin-top: -9rem;
}

.header__date--today-day {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-top: -0.5rem;
}

/* Dark Mode Button */

/* .dark-mode-switcher {
  margin: 0;
  padding: 0;
  cursor: pointer;
} */

.switch {
  /* dark mode button */
  margin: 0;
  padding: 0;
  background: none;
  /* height: 2rem; */
  border: 0;
  z-index: 30;
  /* margin-right: 0.5rem; */
}

img {
  /* switch image button */
  width: 3rem;
  cursor: pointer;
}

.header__date--year-and-btn--year {
  font-size: 7.4rem;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: -1rem;
}

.header__date--year-and-btn {
  text-align: right;
}

.header__date--year-and-btn--btn {
  background-color: var(--second-background-color);
  border: 0;
  margin-top: -1rem;
}

.header__date--year-and-btn--btn:hover {
  cursor: pointer;
}

.header__more-months {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
  font-weight: 300;
}

.month-btn {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0 2rem 0 2rem;
  border: 0;
}

.month-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

/* ---MAIN--- */

main {
  background-color: var(--background-color);
  height: calc(100vh - 14.1rem);
  padding: 0 1rem 0 1rem;
}

main p {
  font-weight: 200;
}

/* Non-dynamic */
.main__container-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
}
.main__container-week--day-name {
  text-align: center;
  padding: 0.2rem;
  height: 1rem;
  color: black;
  padding: 0.5rem;
}

/* Dynamic */

.main__container-days {
  height: calc(100vh - 17.5rem);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.3rem;
  justify-content: space-between;
}

.main__container-days--dynamic-day {
  cursor: pointer;
  border: 0.06rem solid var(--border-color);
  padding: 0.2rem;
  border-radius: 5px;
  text-align: right;
  background-color: var(--second-background-color);
  font-weight: 200;
}

.main__container-days--dynamic-day:hover {
  transition: all 0.3s ease;
  background-color: var(--background-color);
  /*color: white; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.active {
  border: 0.06rem solid var(--primary-color);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  /* background-color: #f5f3f4; */
  background-color: var(--active-color);
  font-weight: 600;
}

.main__container-days--dynamic-day--event {
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
}

.add-btn {
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
  border: 0;
  font-weight: 800;
  padding-inline: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 5px;
}

/* Dark Mode Button */

/* .dark-mode-switcher {
  margin: 0;
  padding: 0;
  cursor: pointer;
} */

.switch {
  /* dark mode button */
  margin: 0;
  padding: 0;
  background: none;
  /* height: 2rem; */
  border: 0;
  /* margin-right: 0.5rem; */
}

.header__date--year-and-btn--btn {
  background: none;
}

.header__date--year-and-btn--btn--img {
  width: 2.5rem;
  cursor: pointer;
}
