* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* ---HEADER--- */

header {
  background-color: aquamarine;
  padding: 1rem;
  height: 13rem;
}

.header__date {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.header__date--today-month {
  font-size: 6rem;
}

.header__date--today-day {
  font-size: 2rem;
}

.header__date--year-and-btn--year {
  font-size: 8rem;
}

.header__date--year-and-btn {
  text-align: right;
}

.header__more-months {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}

/* ---MAIN--- */

main {
  background-color: antiquewhite;
  height: calc(100vh - 15rem);
}

main p {
  font-weight: 200;
}

/* Non-dynamic */
.main__container-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
}
.main__container-week--day-name {
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 10px;
  height: 3rem;
  background-color: cadetblue;
  color: white;
}

/* Dynamic */

.main__container-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
}

.main__container-days--dynamic-day {
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 10px;
  text-align: right;
  background-color: azure;
}

.main__container-days--dynamic-day--event {
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
}
